/* #package css/main */

/*
.container
    {
        max-width: 400px;
        margin: auto;
    }
    .tag-container
    {
        display: inline-block;
        clear: both;
        width: 100%;
        margin-top: 20px;
    }
    .doc-item
    {
        margin: 5px;
        padding-right: 0.3em;
        padding-left: 0.3em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        background-color: white;
        border: 1px solid black;
        cursor: default;
    }
    .item-trash
    {
        font-size: 48px;
        float: right;
    }
    .item-trash-dropover
    {
        color: red;
    }
    */