.TreeNode {
    --label-width       : 10px;
    --label-margin      : 7px;
    --vertical-margin   : 2px;
    --horizontal-margin : 10px;
    --enabled-color     : #333333;
    --disabled-color    : #cccccc;
}

.TreeNode {
    display: flex;
    align-items: center;

    margin: var(--vertical-margin) var(--horizontal-margin);
}

.TreeNode > label {
    flex: 0 0 var(--label-width);
    padding: 0 var(--label-margin);

    font-style: italic;
    text-align: left;
    color: var(--enabled-color);
}

.TreeNode.disabled > label {
    color: var(--disabled-color);
}

.TreeNode > .container {
    flex: 1;
}
