/* #package css/main */

.treeSlider {
    width: 100%;
  }
.theSlider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  } 
  .theSlider:hover {
    opacity: 1;
  }
  
  .theSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196f3;
    cursor: pointer;
  }
  
  .theSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  .theSlider:disabled::-webkit-slider-thumb,
.theSlider[disabled]::-webkit-slider-thumb{
  background: #737475;
}
