/* #package css/main */

.treeSlider {
  width: 100% ;
}
.slider{
  top:-4px !important;
  left: 9px !important;
  width: 90% !important;
}
#treeSlider .slider-track{
  
  width: 100% !important;
  height: 15px !important;
}
.slider-selection {
  background:  #97c2e2; 
}
.slider-disabled .slider-selection {
  background: rgb(190, 215, 231);
}
.slider-rangeHighlight.discarded {
    background: rgb(206, 207, 206);
}
.slider-disabled .slider-rangeHighlight.occluded {
  background: rgb(130, 162, 184);
}
.slider-rangeHighlight.occluded {
    background: rgb(105, 152, 184);
}

.slider-handle{
  top:4.5px;
  width: 15px ;
  height: 15px;
  background:  rgb(124, 133, 139);
}
.slider:disabled,
.slider[disabled]{
  background: #737475;
}
/*
.theSlider { 
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  } 
  .theSlider:hover {
    opacity: 1;
  }

  .theSlider::-webkit-slider-thumb {
    /*pointer-events: auto;*//*
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196f3;
  }
  .theSlider::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196f3;
  }
  .theSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
  }
  .theSlider:disabled::-webkit-slider-thumb,
.theSlider[disabled]::-webkit-slider-thumb{
  background: #737475;
}*/
